.dao .categories {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

.dao .categories .buttons {
  margin: 10px 0;
}

.dao .categories .btn {
  cursor: pointer;
  background-color: #e7e6f7;
  border: none;
  border-radius: 9999px;
  padding: 3px 9px;
  margin: 4px;
}

.dao .categories .btn-selected {
  background-color: #827081;
  color: white;
}
